<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Enviar asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home">Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Nombre: {{name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: {{lastname}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Carrera: {{carrera}}</ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-text-center ion-margin-top">
  <ion-button routerLink="/home" color="danger" shape="round" >Desconectar</ion-button>
  <ion-button (click)="scan()" color="success" shape="round" >Marcar asistencia</ion-button>
  </div>


  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
